:root{
    --fs-sm:14px;
    --fs-md:18px;
    --fs-lg:22px;
    --fs-xl:28px;
    --fs-2xl:36px;
    --fs-3xl:48px;
    --fs-4xl:96px;


    --fw-sm:400;
    --fw-md:600;
    --fw-lg:700;
    
    --fc-white:white;
    --fc-grey:grey;
}   